body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	background: #fff;
	font: 20px "Liberation Serif", "Times New Roman", serif;
	color: #000;
}

#header {
	background-color: #e0efff;
	padding: 20px 0 20px 5%;
	font-size: min(2.4em, 10vw);
	font-weight: normal;
	height: 40px;
	border-bottom: 1px solid #000;
}

ul#navtop {
	background-color: #e0efff;
	margin: 0; 
	padding: 2px 0 2px 5%;
	line-height: 1.7em;
	border-bottom: 1px solid #000;
}

/*Navigation Styles*/

#navtop li {
	display: inline;
	white-space: nowrap;
	list-style-type: none;
}

#navtop a {padding: 3px 10px;}

#navtop a:link, #navtop a:visited {
	color: #000;
	text-decoration: none;
	border: 1px solid #e0efff;
	outline:none;}

#navtop a:hover{
	color: #000;
	background-color: #f3fdff;
	text-decoration: none;
	border: 1px solid #000;}

.navbottom {margin-left: 0;padding-left: 0;}

#main {
	/*max-width: 1000px;*/
	margin: 20px 3% 0 3%}

#contentwrapper {float: left;width: 100%;}

/*Content Styles*/

/*#contentcolumn {font-size: 1em;}*/

a,a:active,a:visited {
	outline:none;
	color: #626258;
	text-decoration: underline;
}

a:hover {
	color: #939384;
	text-decoration: none;}

li a {
	text-decoration: none;
}

h1,h2,h3 {
	font-size: 1.3em;
	margin: 0;
	/*color: #626258;*/
}

h4,h5,h6 {
	font-size: 1.1em;
	margin: 0;
	/*color: #626258;*/
}

.float {
	float: left;
}

.list {
	margin: 10px 0 10px 10px;
	padding-left: 20px;
	/*list-style: none;*/
	white-space: nowrap;}

.list li {
	/*margin-left: 20px;*/
	padding-left: 0px;
	white-space: break-spaces;
	/*background: url(images/list.gif) no-repeat 0 7px;*/
}

div.hr {
	margin: 20px 0 20px 0;
	height: 10px;
	/*background: #fff url(images/hr.gif);*/
}

div.hr hr {display: none;}

#columns {margin: 0;}

#columns li {list-style-type: none;}

#leftcolumn {float: left;width: 48%;font-size: 1em;}

#leftcolumn li {padding-left: 15px;background: url(images/link.gif) no-repeat 0 5px;}

#rightcolumn {float: right;width: 48%;font-size: 1em;}

#rightcolumn li {padding-left: 15px;background: url(images/link.gif) no-repeat 0 5px;}

#footer {
	clear: left;
	width: 100%;
	background-color: #e0efff;
	border-top: 40px solid #fff;
	border-bottom: 20px solid #fff;
	font-size: 0.8em;}

/*Image and Gallery Styles*/

.imgleft {float: left;margin: 6px 10px 6px 0;}

.imgright {float: right;margin: 6px 0 0 10px;}

.gallery {margin-right: 5px;border: none; max-width: 94vw; max-height: 240px;}

.gallery_right_img {margin-right: 0;border: none; max-width: 94vw; max-height: 240px;}

/*Form Styles*/

.form {margin: 20px 0px 20px 0px;}

.form p {width: 300px;clear: left;margin: 0;padding: 5px 0 8px 0;padding-left: 155px;height: 1%;}

.form label{font-weight: bold;float:left;margin-left: -155px;width: 150px;}

.form .input {width: 275px;background-color: #f5f5dc;border: 1px solid #f5f5dc;letter-spacing: 1px;padding: 4px;}

.form textarea {width: 275px;height: 150px;background-color: #f5f5dc;border: 1px solid #f5f5dc;font: 1em/160% verdana, arial, helvetica, sans-serif;letter-spacing: 1px;padding: 4px;}

#submit {margin-left: 155px;}

* html #submit {margin-left: 158px;}

.submitbutton {border: 1px solid #939384;background: #f5f5dc url(images/button.gif);letter-spacing: 1px;width: 140px;}

